.idea/*
!.idea/codeStyles/
.vagrant/
vendor/
build/
utils/provision/playbook.retry
utils/provision/roles/
utils/xdebug/*
!utils/xdebug/
!utils/xdebug/readme.txt
*.log
*.generated.js*
*.mo
router.cache
config/config.php
config/config-production.php
