.idea/*
!.idea/codeStyles/
.vagrant/
vendor/
build/
admin/
utils/provision/playbook.retry
utils/provision/roles/
utils/xdebug/*
!utils/xdebug/
!utils/xdebug/readme.txt
resources/cache
*.log
*.mo
router.cache
config/config.php
config/config-production.php
public/adminer*