.idea/*
!.idea/codeStyles/
vendor/
build/
admin/
utils/xdebug/*
!utils/xdebug/
!utils/xdebug/readme.txt
resources/cache
*.log
*.mo
router.cache
config/config.php
config/config-production.php
public/adminer*
.env