RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !index.php

# Doesn't work in any form:
#RewriteCond %{REQUEST_FILENAME} !.*SSRv1.*
#RewriteRule (.+)\.css$ SSRv1/$1.css [L]

RewriteRule (.*) index.php/$1 [L]
