version: '3.4'
services:
  db:
    image: tarallo/db
    build:
      context: ./
      dockerfile: ./docker/db/Dockerfile
      cache_from:
        - tarallo-db
      args:
        DEVELOPMENT: ${DEVELOPMENT}
    volumes:
      - ./sql/database.sql:/docker-entrypoint-initdb.d/a.sql
      - ./sql/database-data.sql:/docker-entrypoint-initdb.d/b.sql
      - ./sql/database-procedures.sql:/docker-entrypoint-initdb.d/c.sql
      - tarallo-db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      #MYSQL_USER: tarallo
      #MYSQL_PASSWORD: thisisnottheproductionpassword
      MYSQL_DATABASE: tarallo
    ports:
      - 3307:3306

  app:
    image: tarallo/app
    build:
      context: ./
      dockerfile: ./docker/app/Dockerfile
      cache_from:
        - tarallo-app
      args:
        XDEBUG: ${XDEBUG}
        PROFILER: ${PROFILER}
        DEVELOPMENT: ${DEVELOPMENT}
    volumes:
    # Host directories get directly mapped to server directories
    # Mountpoints are created within app's Dockerfile
    - ./sql:/var/www/html/sql:ro
    - ./bin:/var/www/html/bin:ro
    - ./public:/var/www/html/public:ro
    - ./src:/var/www/html/src:ro
    - ./tests:/var/www/html/tests:ro
    - ./phpunit.xml:/var/www/html/phpunit.xml:ro

    # Directory for xdebug profiler traces
    - ./utils/xdebug:/xdebug
    depends_on:
      - db

  web:
    image: tarallo/web
    build:
      context: ./
      dockerfile: ./docker/web/Dockerfile
      cache_from:
        - tarallo-web
      args:
        DEVELOPMENT: ${DEVELOPMENT}
    ports:
      - 8080:80
      - 8081:81
    volumes:
    # Replicate volume structure of "app" but in read only
    - ./src:/var/www/html/src:ro
    - ./public:/var/www/html/public:ro
    depends_on:
      - app

volumes:
  tarallo-db:
