html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

template {
	display: none;
}

header#title {
	margin: 0;
	padding: 0.5em;
	background-color: #333;
	color: #eee;
	border-bottom: 1px solid #ccc;
}

header#title h1 {
	margin: 0 0.5rem 0 0;
	font-size: x-large;
	display: inline-block;
}

header#title p {
	display: none;
}

input, button, select {
	color: black;
	background: white;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	margin: 0.2em;
	padding: 0.2em 0.4em;
	font-size: 100%;
	font-family: inherit; /* I have no idea why is this needed */
	transition: box-shadow,border-color 0.3s ease-out;
}

select {
	/* I have no idea why this is needed or where the extra padding comes from. There's probably a bug somewhere else in the css file. */
	padding-left: 0.15em;
	padding-right: 0.15em;
}

button:hover, input[type="submit"]:hover {
	/* TODO: optimize transition by using opacity of the ::after pseudo element instead of box-shadow */
	border-color: #aaa;
	box-shadow: 0 0 0.15rem rgba(0,0,0,0.29);
	transition: box-shadow,border-color 0.1s ease-in;
}

button:active, input[type="submit"]:active, button:focus, select:focus {
	outline: none;
	background-color: #eee;
}

button::-moz-focus-inner, select::-moz-focus-inner {
	border: 0;
}

button:disabled, button:disabled:hover, button:disabled:active, input[type="submit"]:disabled, input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active {
	color: #999;
	border-color: #ccc;
	background: white;
	transition: none;
	box-shadow: none;
}

nav#top {
	margin-bottom: 1.5em;
	box-shadow: 0 0.3em 0.6em -0.3em rgba(0,0,0,0.29);
	white-space: nowrap;
}

nav#top nav {
	margin-top: .5em;
}

nav.menu {
	margin-bottom: 0;
	padding: 0;
}

nav#main > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

nav.menu a {
	color: inherit;
	cursor: pointer;
	padding: .5em;
	display: block;
	text-decoration: none;
	vertical-align: middle;
}

nav.menu a:hover, nav.menu a.selected {
	color: #eee;
	background-color: #333;
}

nav.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.menu ul li {
	padding: 0;
	margin: 0;
	height: 100%;
	display: inline-block;
	position: relative;
}

nav#top nav.quick {
	display: none;
}

nav#top nav.quick.open {
	display: block;
	color: #eee;
	background-color: #333;
	margin-top: 0;
	margin-bottom: 0;
	padding: .5em;
}

nav#top nav.quick input {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.httperror strong {
	font-weight: normal;
	font-size: 30vw;
}

.message {
	padding: .5em;
}

.message.long {
	margin-top: .5em;
}

.info.message {
	color: #00529B;
	background-color: #BDE5F8;
}
.success.message {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning.message {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error.message {
	color: #D8000C;
	background-color: #FFBABA;
}

.code {
	font-family: "Fira Mono", monospace;
	font-weight: bold;
}

.breadbox {
	margin: .5em .5em 0 .5em;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	color: #aaa;
}

ul.breadcrumbs li {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

ul.breadcrumbs li a {
	color: #333;
	margin: 0 0.4em;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}

ul.breadcrumbs li a:first-child {
	margin-left: 0;
}

ul.breadcrumbs li a:hover {
	color: #eee;
	background-color: #333;
}

ul.breadcrumbs li:not(:first-child)::before {
	content: ">";
	margin-right: 0.4em;
}

.setlocation {
	/*color: #eee;*/
	/*background-color: #333;*/
	padding: 0.5em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table > thead {
	background: #333;
	color: #eee;
}

table td {
	padding: 0.3em 0.5em;
}

.statswrapper a {
	color: #333;
}

.statswrapper a:visited {
	color: #000;
}

#content > *:not(.breadbox), .item {
	margin: .5em;
}

#content nav.menu.submenu {
	margin: 0 0 1.5em;
	box-shadow: 0 0.3em 0.6em -0.3em rgba(0,0,0,0.29);
}

.item + .item {
	margin-top: 2em;
}

.breadbox + .item {
	margin-top: 0 !important;
}

.item:not(.root) {
	border: .1em solid #ccc;
}

.item h2 {
	margin: 0;
	font-size: x-large;
	background-color: #333;
	color: #eee;
	padding: 0.32em;
}

.deleted.item h2, .deleted.item .features {
	text-decoration: line-through;
}

.new.item h2 {
	font-size: large;
	padding: 0.5rem;
}

.features section h3 {
	margin: 0.5rem;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

label.searchby {
	font-weight: bold;
	color: #333;
}

.item > section {
	padding: 0.6rem;
}

.features ul, #searchcontrols {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Don't do this, as it also removes the blinking cursor in contenteditable areas */
/*.features ul li .value:-moz-focusring {*/
	/*color: transparent;*/
	/*text-shadow: 0 0 0 #000;*/
/*}*/

.features.editing .value, #searchcontrols .value {
	border: 1px solid transparent;
	background: #f7f7f7;
}

.features ul > li {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto 2rem;
	justify-content: stretch;
	align-content: space-between;
	justify-items: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 0.5rem;
}

.features ul > li select {
	margin: 0;
}

.features ul > li > .name {
	grid-row: 1;
	grid-column: 1 / span 2;
	color: #555;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

.features ul > li > .comparison {
	grid-row: 2;
	grid-column: -4;
	display: flex;
	align-items: center;
	justify-content: end;
}

.features ul > li > .value {
	grid-row: 2;
	grid-column: -3;
}

.features ul > li > .controls {
	grid-row: 2;
	grid-column: -2;
	display: flex;
	align-items: center;
}

.features:not(.editing) ul > li > .value {
	grid-column: -3 / span 2;
}

.features ul > li > .name > *, .features ul > li > .value > div {
	padding: .5rem;
}

.features ul > li > .name > * {
	text-align: right;
}

#searchcontrols > div {
	margin: 1rem;
}

#searchcontrols .features ul > li {
	grid-template-columns: 4rem auto 2rem;
}

#searchcontrols .features ul > li > .name {
	grid-column: 1 / span 3;
}

#searchcontrols .features ul > li > .value {
	grid-column: -3; /* overrides .features:not(.editing) ul > li > .value */
}

.features.editing .changed {
	border-color: #ccc;
}

.item.working.yes /*> header > h2*/ {
	/*border-color: #4F8A10;*/
	border-color: #DFF2BF;
	box-shadow: 0 0 0.3em 0.2em #DFF2BF;
}

.item.working.maybe /*> header > h2*/ {
	/*border-color: #9F6000;*/
	border-color: #FEEFB3;
	box-shadow: 0 0 0.3em 0.2em #FEEFB3;
}

.item.working.no /*> header > h2*/ {
	/*border-color: #D8000C;*/
	border-color: #FFBABA;
	box-shadow: 0 0 0.3em 0.2em #FFBABA;
}

.subitems .item {
	margin-left: .2em;
}

.itembuttons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.inside > div > .item {
	margin-bottom: 1em;
}

#stats {
	margin: .5em;
	padding: .5em;
	background-color: #333;
	color: #eee;
}

.statswrapper {
	width: calc(100% - 1em);
	margin-bottom: 2em;
}

.statswrapper p {
	margin: 0 0 1em 0;
}

.statswrapper div {
	line-height: 1.5em;
}

#searchcontrols .disabled {
	display: none;
}

.pagination {
	margin: 1.5em auto;
	text-align: center;
}

.pagination a {
	padding: 0.5em;
	color: #333;
}

.pagination a:visited {
	padding: 0.5em;
	color: #333;
}

.pagination a:not(.disabled):hover {
	background-color: #333;
	color: #eee;
}

#options form label {
	display: block;
}

@media only screen and (min-width: 400px) {
	.itembuttons {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.itembuttons.secondary {
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 30em) {
	.itembuttons {
		flex-direction: row;
		flex-wrap: nowrap;
		float: right;
	}

	.itembuttons.secondary {
		float: none;
	}
}

@media only screen and (min-width: 500px) {
	header#title p {
		margin: 0.5rem 0 0 0;
		font-size: small;
		display: inline-block;
	}
}

@media only screen and (min-width: 54em) {

	.statswrapperwrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}

	.statswrapper {
		width: 24em;
		margin-right: 2em;
	}

	.statswrapper.large {
		width: auto;
	}

	.statswrapper > table {
		width: 100%;
	}
}

@media only screen and (min-width: 34rem) {

	.features ul > li {
		grid-template-rows: auto;
		grid-template-columns: 10rem auto 2rem;
		margin-bottom: 0;
	}

	.features.editing ul > li, #searchcontrols .features ul > li {
		margin-bottom: 0.4em;
	}

	.features ul > li > .name {
		grid-row: 1;
		grid-column: 1;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	.features ul > li > .value {
		grid-row: 1;
		grid-column: 2;
	}

	.features ul > li > .comparison {
		grid-row: 1;
		justify-content: center;
	}

	.features ul > li > .controls {
		grid-row: 1;
		grid-column: -2;
	}

	#searchcontrols .features ul > li {
		grid-template-columns: 10rem 4rem auto 2rem;
	}

	#searchcontrols .features ul > li > .name {
		grid-column: 1;
	}

	#searchcontrols .features ul > li > .value {
		grid-column: -3;
	}
}
