html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

template {
	display: none;
}

header#title {
	margin: 0;
	padding: 0.5em;
	background-color: #333;
	color: #eee;
	border-bottom: 1px solid #ccc;
}

header#title h1 {
	margin: 0 0.5rem 0 0;
	font-size: x-large;
	display: inline-block;
}

header#title p {
	margin: 0.5rem 0 0 0;
	font-size: small;
	display: inline-block;
}

input, button, select {
	color: black;
	background: white;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	margin: 0.2em;
	padding: 0.2em 0.4em;
	font-size: 100%;
	font-family: inherit; /* I have no idea why is this needed */
	transition: box-shadow,border-color 0.3s ease-out;
}

select {
	/* I have no idea why this is needed or where the extra padding comes from. There's probably a bug somewhere else in the css file. */
	padding-left: 0.15em;
	padding-right: 0.15em;
}

button:hover, input[type="submit"]:hover {
	/* TODO: optimize transition by using opacity of the ::after pseudo element instead of box-shadow */
	border-color: #aaa;
	box-shadow: 0 0 0.15rem rgba(0,0,0,0.29);
	transition: box-shadow,border-color 0.1s ease-in;
}

button:active, input[type="submit"]:active, button:focus, select:focus {
	outline: none;
	background-color: #eee;
}

button::-moz-focus-inner, select::-moz-focus-inner {
	border: 0;
}

button:disabled, button:disabled:hover, button:disabled:active, input[type="submit"]:disabled, input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active {
	color: #999;
	border-color: #ccc;
	background: white;
	transition: none;
	box-shadow: none;
}

nav#top {
	margin-bottom: 1.5em;
	box-shadow: 0 0.3em 0.6em -0.3em rgba(0,0,0,0.29);
}

nav#top nav {
	margin-top: .5em;
	margin-bottom: .5em;
}

nav#top nav#main {
	margin-bottom: 0;
}

nav#top nav .message {
	padding: .5em;
}

nav#main {
	padding: 0;
	white-space: nowrap;
}

nav#main a {
	color: inherit;
	cursor: pointer;
	padding: .5em;
	display: block;
	text-decoration: none;
	vertical-align: middle;
}

nav#main a:hover, nav#main a.selected {
	color: #eee;
	background-color: #333;
}

nav#main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav#main ul li {
	padding: 0;
	margin: 0;
	height: 100%;
	display: inline-block;
	position: relative;
}

nav#top nav.quick {
	display: none;
}

nav#top nav.quick.open {
	display: block;
	color: #eee;
	background-color: #333;
	margin-top: 0;
	margin-bottom: 0;
	padding: .5em;
}

.httperror strong {
	font-weight: normal;
	font-size: 30vw;
}

.info.message {
	color: #00529B;
	background-color: #BDE5F8;
}
.success.message {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning.message {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error.message {
	color: #D8000C;
	background-color: #FFBABA;
}

.breadbox {
	margin: .5em .5em 0 .5em;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	color: #aaa;
}

ul.breadcrumbs li {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

ul.breadcrumbs li a {
	color: #333;
	margin: 0 0.4em;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}

ul.breadcrumbs li a:first-child {
	margin-left: 0;
}

ul.breadcrumbs li a:hover {
	color: #eee;
	background-color: #333;
}

ul.breadcrumbs li:not(:first-child)::before {
	content: ">";
	margin-right: 0.4em;
}

.setlocation {
	/*color: #eee;*/
	/*background-color: #333;*/
	padding: 0.5em;
}

.item, #searcharea {
	margin: .5em .5em .5em .5em;
}

.item + .item {
	margin-top: 2.5em;
}

.breadbox + .item {
	margin-top: 0;
}

.item:not(.root) {
	border: .1em solid #ccc;
}

.item h2 {
	margin: 0;
	font-size: x-large;
	background-color: #333;
	color: #eee;
	padding: 0.32em;
}

.new.item h2 {
	font-size: large;
	padding: 0.5rem;
}

.features section h3 {
	margin: 0 0 .2em 0;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.item > section {
	padding: 0.6rem;
}

.item .features ul, #searchcontrols {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
}

.item .features ul li, #searchcontrols > div {
	height: 100%;
	display: table-row;
}

.item .features div {
	padding: .3rem 0;
}

.item .features ul li .name, #searchcontrols > div .searchby {
	max-width: 20em;
	padding-right: 1em;
	color: #555;
	text-align: right;
	display: table-cell;
	min-width: 10em;
}

.item .features ul li .value, #searchcontrols > div .filter {
	display: table-cell;
	width: 100%;
	white-space: pre-wrap;
}

.item .features ul li .controls {
	display: table-cell;
}

/* Don't do this, as it also removes the blinking cursor in contenteditable areas */
/*.item .features ul li .value:-moz-focusring {*/
	/*color: transparent;*/
	/*text-shadow: 0 0 0 #000;*/
/*}*/

.item .features ul li .value[contenteditable] {
	border-bottom: 0.1em dotted #ccc;
}

.item .features ul li .value div {
	margin: 0 .2em;
	padding: 0 .4em;
}

.features.editing .changed {
	border: .1em dotted red !important;
}

.item.working.yes /*> header > h2*/ {
	/*border-color: #4F8A10;*/
	border-color: #DFF2BF;
	box-shadow: 0 0 0.3em 0.2em #DFF2BF;
}

.item.working.maybe /*> header > h2*/ {
	/*border-color: #9F6000;*/
	border-color: #FEEFB3;
	box-shadow: 0 0 0.3em 0.2em #FEEFB3;
}

.item.working.no /*> header > h2*/ {
	/*border-color: #D8000C;*/
	border-color: #FFBABA;
	box-shadow: 0 0 0.3em 0.2em #FFBABA;
}

.subitems .item {
	margin-left: .2em;
}

.itembuttons {
	float: right;
}

.inside > div > .item {
	margin-bottom: 1em;
}

#searchcontrols .disabled {
	display: none;
}

.pagination {
	margin: 0 auto;
	text-align: center;
}

.pagination a {
	padding: 0.5em;
}

.pagination a:not(.disabled) {
	text-decoration: underline;
	cursor: pointer;
}

.pagination a:not(.disabled):hover {
	background-color: #333;
	color: #eee;
}
