.navbar-dark .navbar-text {
	color: #eeeeee;
}

#main {
	box-shadow: 0 0.3em 0.6em -0.3em rgba(0,0,0,0.29);
	margin-bottom: 1.5em;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#quickmove {
	box-shadow: 0 0.3em 0.6em -0.3em rgba(0,0,0,0.29);
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-bottom: 1.5em;
	margin-top: -1.5em;
}

.httperror .status {
	font-size: 6vw;
}

.inline-alert {
	padding: 0.6rem;
	width: 100%;
}

.alert-info {
	color: #00529B;
	background-color: #BDE5F8;
}
.alert-success-old {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.alert-warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.alert-serious {
	color: #CC4100;
	background-color: #FFCC89;
}

.alert-danger {
	color: #D8000C;
	background-color: #FFBABA;
}

[data-tippy-content]:not(.fa) {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.tooltip-inner {
	border-color: #333333;
	background: #eeeeee;
	color: #333333;
}

.code {
	font-family: "Fira Mono", monospace;
	font-weight: bold;
}

.item h2 label {
	margin-bottom: 0;
}

.setlocation {

}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	color: #aaa;
}

ul.breadcrumbs li {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

ul.breadcrumbs li a {
	color: #333;
	margin: 0 0.4em;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}

ul.breadcrumbs li a:first-child {
	margin-left: 0;
}

ul.breadcrumbs li a:hover {
	color: #eee;
	background-color: #333;
}

ul.breadcrumbs li:not(:first-child)::before {
	content: ">";
	margin-right: 0.4em;
}

.summary.open > span {
	display: block;
}

.summary.open .sep {
	display: none;
}

.features del {
	text-decoration-line: line-through;
	text-decoration-style: wavy;
	text-decoration-color: #D8000C;
	/*text-decoration-color: #000000;*/
	color: #aaaaaa;
}

.stats a, .underlinelinks a {
	text-decoration: underline;
}

.stats a.underline-on-hover {
	text-decoration: none;
}

a.underline-on-hover:hover {
	text-decoration: underline;
}

.stats.table .total {
	background: #eee;
	color: #333;
}

.stats.table caption {
	caption-side: top;
	color: #333;
	font-weight: bolder;
}

.stats.table th, .stats.table td {
	padding: .5rem;
	font-weight: normal;
}

.stats.list p {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.stats.list p small {
	font-weight: bold;
}

.stats.list {
	margin-bottom: 1rem;
}

.stats.text {
	margin-top: 1rem;
}

tr.rootitem {
	background: #eee;
}

.item:not(:first-child) {
	margin-top: 2em;
}

.breadbox + .item {
		margin-top: 0;
}

.breadbox {
		margin-top: 2em;
}

.item:not(.root) {
	border: .1em solid #ccc;
}

.item > header, .item > .inline-alert, .item > .itembuttons {
	margin-left: -15px;
	margin-right: -15px;
}

.item header {
	background-color: #333;
	color: #eee;
}

.vaporwave .item header, .vaporwave .navbar {
	background: linear-gradient(to bottom, rgba(255,113,205,1) 0%, rgba(1,203,254,1) 100%);
}

.deleted.item h4, .deleted.item .features {
	text-decoration: line-through;
}

.features section h5 {
	margin: 0.5rem 0;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

label.searchby {
	font-weight: bold;
	color: #333;
}

.item > section {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.features ul, #searchcontrols {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Don't do this, as it also removes the blinking cursor in contenteditable areas */
/*.features ul li .value:-moz-focusring {*/
	/*color: transparent;*/
	/*text-shadow: 0 0 0 #000;*/
/*}*/

.features.editing .value, #searchcontrols .value {
	border: 1px solid transparent;
	background: #f7f7f7;
}

.features ul > li {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto 2rem;
	justify-content: stretch;
	align-content: space-between;
	justify-items: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 0.5rem;
}

.features ul > li select {
	margin: 0;
}

.features ul > li > .name {
	grid-row: 1;
	grid-column: 1 / span 2;
	color: #555;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

.features ul > li > .comparison {
	grid-row: 2;
	grid-column: -4;
	display: flex;
	align-items: center;
	justify-content: end;
}

.features ul > li > .value {
	grid-row: 2;
	grid-column: -3;
}

.features ul > li > .controls {
	grid-row: 2;
	grid-column: -2;
	display: flex;
	align-items: center;
}

.features:not(.editing) ul > li > .value {
	grid-column: -3 / span 2;
}

.features ul > li > .name > * {
	text-align: right;
}

#searchcontrols > div {
	margin: 1rem;
}

#searchcontrols .features ul > li {
	grid-template-columns: 4rem auto 2rem;
}

#searchcontrols .features ul > li > .name {
	grid-column: 1 / span 3;
}

#searchcontrols .features ul > li > .value {
	grid-column: -3; /* overrides .features:not(.editing) ul > li > .value */
}

.features.editing .changed {
	border-color: #ccc;
}

.features.editing .haserror .value {
	color: #D8000C;
}

.item.editing .error.description {
	color: #D8000C;
	background-color: #FFBABA;
	padding: .5em;
	grid-column: 2 / -1;
	grid-row: -1;
	margin-top: 0.4em;
}

.item.editing .fading .error.description {
	opacity: 0;
	transition: opacity 1400ms ease-in;
}

.value option.default {
	display: none;
}

.item.working.yes {
	/*border-color: #4F8A10;*/
	border-color: #DFF2BF;
	box-shadow: 0 0 0.3em 0.2em #DFF2BF;
}

.item.working.maybe {
	/*border-color: #9F6000;*/
	border-color: #FEEFB3;
	box-shadow: 0 0 0.3em 0.2em #FEEFB3;
}

.item.working.no {
	/*border-color: #D8000C;*/
	border-color: #FFBABA;
	box-shadow: 0 0 0.3em 0.2em #FFBABA;
}

.subitems .item {
	margin-left: .2em;
}

.inside > div > .item {
	margin-bottom: 1em;
}

/* #content is needed, or else this is not specific enough to override a margin above */
#content form.nice {
	margin: auto;
	display: block;
	max-width: 60em;
}

form.nice > :not(.small) {
	display: block;
	width: 100%;
	font-size: 1rem;
}

form.nice > .small {
	display: block;
	width: auto;
	margin: 1em auto 0 auto;
}

form.nice textarea {
	resize: vertical;
}

.hidden {
	display: none !important;
}

.pagination {
	margin: 1.5em auto;
	text-align: center;
}

.pagination a {
	padding: 0.5em;
	color: #333;
}

.pagination a:visited {
	padding: 0.5em;
	color: #333;
}

.pagination a:not(.disabled):hover {
	background-color: #333;
	color: #eee;
}

#options form label {
	display: block;
}

@media only screen and (min-width: 34rem) {
	.features ul > li {
		grid-template-rows: auto auto auto;
		grid-template-columns: 10rem auto 2rem;
		margin-bottom: 0;
	}

	.features.editing ul > li, #searchcontrols .features ul > li {
		margin-bottom: 0.4em;
	}

	.features ul > li > .name {
		grid-row: 1;
		grid-column: 1;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	.features ul > li > .value {
		grid-row: 1;
		grid-column: 2;
	}

	.features ul > li > .comparison {
		grid-row: 1;
		justify-content: center;
	}

	.features ul > li > .controls {
		grid-row: 1;
		grid-column: -2;
	}

	#searchcontrols .features ul > li {
		grid-template-columns: 10rem 4rem auto 2rem;
	}

	#searchcontrols .features ul > li > .name {
		grid-column: 1;
	}

	#searchcontrols .features ul > li > .value {
		grid-column: -3;
	}

	.features ul > li > .name > *, .features ul > li > .value > div {
		padding: .5rem;
	}
}

@media (min-width: 576px) {
	.w-sm-100 {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.w-md-100 {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.w-lg-100 {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.w-xl-100 {
		width: 100%;
	}
}
