<?php
// Ansible managed

define('TARALLO_DB_USER', '{{ database_username }}');
define('TARALLO_DB_PASS', '{{ database_password }}');
define('TARALLO_DB_DSN', 'mysql:dbname=tarallo;host=localhost;charset=utf8mb4');
define('TARALLO_CACHE_ENABLED', false); // Set to true to enable FastRoute cache (use in production only, leave false in developement)
define('TARALLO_DEVELOPMENT_ENVIRONMENT', true); // Set to false or delete in production
