<?php
// {{ ansible_managed }}

define('DB_USERNAME', '{{ database_username }}');
define('DB_PASSWORD', '{{ database_password }}');
define('DB_DSN', 'mysql:dbname=tarallo;host=localhost;charset=utf8mb4'); 
define('CACHE_ENABLED', false); // Set to true to enable FastRoute cache (use in production only, leave false in developement)
define('DEVELOPMENT_ENVIRONMENT', true); // Set to false or delete in production
