---
- name: Do things and stuff
  hosts: all
  become: true
  become_user: root
  vars:
    mariadb_root_password: root
    database_username: tarallo
    database_password: thisisnottheproductionpassword
    document_root: /var/www/html
    document_root_mounted: "{{ document_root }}/server"

    nginx_yum_repo_enabled: false
    nginx_remove_default_vhost: true
    nginx_sendfile: "off"
    nginx_vhosts:
    # sendfile is broken in VirtualBox
    - listen: "80 default_server"
      server_name: "_"
      index: "index.php"
      # root: "{{ document_root_mounted }}"
      template: "{{ nginx_vhost_template }}"
      filename: "tarallo-server.conf"
      state: "present"
      extra_parameters: |
        location /static/ {
          # static is in the request already
          root {{ document_root_mounted }}/src/SSRv1;
        }

        location / {
          include fastcgi_params;
          root {{ document_root_mounted }}/public;
          try_files $uri /index.php =404;

          fastcgi_param PATH_INFO $uri;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_pass 127.0.0.1:9000;
        }
    - listen: "81 default_server"
      server_name: "_"
      root: "{{ document_root }}/admin"
      template: "{{ nginx_vhost_template }}"
      filename: "tarallo-admin.conf"
      state: "present"
      extra_parameters: |
        location / {
          autoindex on;
          try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
          include fastcgi_params;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_pass 127.0.0.1:9000;
        }

  roles:
    - role: goozbach.EPEL
    - role: geerlingguy.nginx

  handlers:
  - name: stop php-fpm
    service:
      name: php-fpm
      state: stopped
  - name: restart php-fpm
    service:
      name: php-fpm
      state: restarted

  tasks:
  - name: Create a directory for no reason
    file: path=/home/vagrant/.phpstorm_helpers state=directory mode=0777

  - name: Enable MariaDB repo
    yum_repository:
      name: mariadb
      description: MariaDB
      baseurl: http://yum.mariadb.org/10.2/centos7-amd64
      gpgkey: https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
      gpgcheck: yes
      enabled: yes

  # https://github.com/iuscommunity/automation-examples/blob/ansible/enable-ius.yml
  - set_fact:
      ius_distribution_abbrev: "{{ (ansible_distribution == 'CentOS') | ternary('centos', 'rhel') }}"

  # TODO: understand if it's downloading the file every single time (yes it is)
  # TODO: prevent it somehow
  - name: Enable IUS repo
    yum:
      name: "https://{{ ius_distribution_abbrev }}{{ ansible_distribution_major_version }}.iuscommunity.org/ius-release.rpm"
      state: present

  - name: Install MariaDB 10.2 packages
    yum:
      state: installed
      name:
        - MariaDB-server
        - MariaDB-client

  - name: Enable and start MariaDB
    service:
      name: mariadb
      enabled: yes
      state: started

  - name: Adds Python-MySQL to set MariaDB configuration
    yum: name=MySQL-python state=present

  - name: Set MariaDB root password
    mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user=root password="{{ mariadb_root_password }}" state=present check_implicit_admin=yes

  - name: Remove useless MariaDB root login
    mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user=root host="{{ ansible_fqdn }}" state=absent check_implicit_admin=yes

  - name: Set MariaDB root password from localhost
    mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user=root password="{{ mariadb_root_password }}" host="localhost" check_implicit_admin=yes

  - name: Set MariaDB root password from ::1
    mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user=root password="{{ mariadb_root_password }}" host="::1" check_implicit_admin=yes

  - name: Set MariaDB root password from 127.0.0.1
    mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user=root password="{{ mariadb_root_password }}" host="127.0.0.1" check_implicit_admin=yes

  # Doens't work for unknown reasons on Ansible 2.5.x, works again on 2.7 but whatever
  #- name: Deletes anonymous MariaDB user
  #  mysql_user: login_user=root login_password="{{ mariadb_root_password }}" user="" host_all=yes state=absent

  - name: Removes MariaDB test database
    mysql_db: login_user=root login_password="{{ mariadb_root_password }}" db=test state=absent

  - name: Uninstall old PHP 7.0 (if updating VM)
    yum:
      state: absent
      name:
        - php70u-common
        - php70u-fpm
        - php70u-json
        - php70u-mysqlnd
        - php70u-opcache
        - php70u-pdo
        - php70u-pecl-xdebug
        - php70u-mbstring
        - php70u-dom
        - php70u-mcrypt
        - php70u-intl
    notify:
      - stop php-fpm

  - name: Install PHP 7.2
    yum:
      state: installed
      name:
        - php72u-cli
        - php72u-common
        - php72u-fpm
        - php72u-json
        - php72u-mysqlnd
        - php72u-opcache
        - php72u-pdo

  - name: Enable and start PHP-FPM
    service:
      name: php-fpm
      enabled: yes
      state: started

    # Not really sure about unzip
  - name: Install PHP developement dependencies
    yum:
      state: installed
      name:
        - php72u-pecl-xdebug
        - php72u-mbstring
        - php72u-dom
        - php72u-intl
        - unzip

  - name: Enable XDebug
    template:
      src: 15-xdebug.ini.j2
      dest: "/etc/php.d/15-xdebug.ini"
      owner: root
      group: root
    notify:
      - restart php-fpm

  - name: Enable assertions (developement only)
    lineinfile:
      dest: /etc/php.ini
      regexp: '^zend\.assertions\s*='
      line: "zend.assertions = 1"
    notify:
    - restart php-fpm

  - name: Set max execution time
    lineinfile:
      dest: /etc/php.ini
      regexp: '^max_execution_time\s*='
      line: "max_execution_time = 0"
    notify:
      - restart php-fpm

  - name: Install Composer
    script: composer.sh
    args:
      creates: /usr/local/bin/composer

  - name: Install dependencies via Composer
    become: false
    composer:
      command: install
      optimize_autoloader: no
      no_dev: no
      working_dir: "{{ document_root_mounted }}"

  - name: Create Adminer directory
    file: path="{{ document_root }}/admin" state=directory mode=0775

  - name: Add a phpinfo for good measure
    template:
      src: phpinfo.php.j2
      dest: "{{ document_root }}/admin/phpinfo.php"

  - name: Download Adminer
    get_url:
      url: https://github.com/vrana/adminer/releases/download/v4.6.1/adminer-4.6.1-mysql-en.php
      dest: "{{ document_root }}/admin/adminer.php"
      mode: 0444

  - name: REALLY remove the broken (!?) default example nginx conf
    file: path="/etc/nginx/conf.d/example.com.conf" state=absent

  - name: Disable (set to permissive, actually) SELinux BECAUSE VIRTUALBOX, THAT'S WHY
    selinux: state=permissive policy=targeted

  - name: Drop databases (because importing tables is not really idempotent)
    mysql_db:
      name: "{{ item }}"
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      state: absent
    with_items:
      - tarallo
      - tarallo_test

  - name: Create databases
    mysql_db:
      name: "{{ item }}"
      encoding: utf8mb4
      collation: utf8mb4_unicode_ci
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      state: present
    with_items:
      - tarallo
      - tarallo_test

  - name: Import tables
    mysql_db:
      name: "{{ item }}"
      state: import
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      target: "{{ document_root_mounted }}/database.sql"
    with_items:
      - tarallo
      - tarallo_test

  - name: Import default data
    mysql_db:
      name: "{{ item }}"
      state: import
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      target: "{{ document_root_mounted }}/database-data.sql"
    with_items:
      - tarallo
      - tarallo_test

  - name: Import procedures
    mysql_db:
      name: "{{ item }}"
      state: import
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      target: "{{ document_root_mounted }}/database-procedures.sql"
    with_items:
      - tarallo
      - tarallo_test

  - name: Import sample data
    mysql_db:
      name: tarallo
      state: import
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      target: "/data/sample-data.sql"

  - name: Enable remote connections to MariaDB
    template:
      src: enable-remote-connection.conf.j2
      dest: /etc/my.cnf.d/enable-remote-connection.conf

  - name: Replace my.cnf since it's the only way to enable event scheduler
    template:
      src: my.cnf.j2
      dest: /etc/my.cnf
      owner: root
      group: root
      mode: 0644

  - name: Enable remote MariaDB root login
    mysql_user:
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      user: root
      password: "{{ mariadb_root_password }}"
      host: "%"
      priv: "*.*:ALL,GRANT"

  - name: Create MariaDB user
    mysql_user:
      login_user: root
      login_password: "{{ mariadb_root_password }}"
      user: "{{ database_username }}"
      password: "{{ database_password }}"
      host: "localhost"
      priv: "tarallo.*:ALL"

  # This is not really the best way, I guess
  - name: Restart MariaDB
    service:
      name: mysqld
      state: restarted

  - name: Create configuration file
    template:
      src: config.php.j2
      dest: "{{ document_root_mounted }}/config/config.php"
      # This fails since it's a Virtualbox/SMB/whatever share and permissions and owners aren't supported, apparently
      # owner: vagrant
      # group: vagrant
